body {
    display: flex;
    justify-content: center;
    background-color: #fffae5;
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    overflow-x: hidden;
    padding-bottom: 2%;
}


@media (max-width: 3000px) {

    /* Cabeçalho */
    header {
        display: flex;
        justify-content: space-between;
        top: 0;
        left: 0;
        width: 100%;
        align-items: center;
        position: fixed;
        background-color:#fffae5;
        color: #76520e;
        backdrop-filter: blur(6px);
        z-index: 100;
        background-color: rgba(247, 244, 232, 0.7);
    }
    

    /* Logo da esquerda no Navbar */
    .logo {
        font-size: 1.1rem;
        flex-direction: column;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        text-decoration: none; 
        width: 20%;
    }

    /* Palavra do logo prática */
    .logo h1 {
        color: #76520e;
        font-size: 2.25rem;
        margin-bottom: -1.7rem;
        font-weight: 500;
    }

    .logo h3 {
        color: black;
        font-weight: 500;
    }

    li a {
        text-decoration: none; /* Tira o sublihado */
        display: flex;
        justify-content: space-between;
        color: #76520e;
        
    }

    .nav-right {
        list-style-type: none; /* Tira os pontos */
        display: flex;
        justify-content: space-evenly;
        padding: 0; 
        margin: 0; 
        width: 40%; 
        margin-top: 0.8rem;
    }

    a {
        display: flex;
        justify-content: space-between;

    }
}
/* Fim Cabeçalho */

main {
    width: 80%;
}

main h1 {
    line-height: 2.5rem;
}

/* Início main */
main {
    background-color: rgb(173, 173, 173);
    display: flex;
    flex-direction: column;
    margin-top: 7.6rem;
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    line-height: 1.5rem;
}

main h1 {
    font-size: 2.5rem;
    padding-top: 0.5rem;
}

main h3 {
    font-size: 1.2rem;
    padding-top: 1.6rem;
}

.menu-toggle {
    display: none; /* esconde o checkbox */
}


@media (max-width: 1025px) {

    .logo {
        font-size: 1.1rem;
        flex-direction: column;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        text-decoration: none;
        width: 21%;
        padding-left: 2.12%;
    }
}

@media (max-width: 600px) {

    body {
        padding-bottom: 0;
    }

    header {
        color: #76520e;
        position: fixed; 
        margin-bottom: -9.5rem; /* reduz o espaço vertical */
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-direction: column; /* empilha logo + hamburger + menu */
        align-items: center; /* centraliza tudo horizontalmente */
    }

    .logo {
        font-size: 1.1rem;
        flex-direction: column;
        display: fle;
        align-items: center;
        margin: 0;
        padding: 0;
        text-decoration: none;
        width: 55%;
    }

    .logo h3 {
        width: 100%;
        display: flex; /* Coloca os filhos (spans) lado a lado */
        align-items: center; /* Centraliza verticalmente (opcional) */
        justify-content: center; /* Centraliza horizontalmente (opcional) */
    }

    main {
        margin-top: 9rem;
        width: 100%;
        margin-left: 0;
        margin-left: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    main h1 {
        font-size: 2rem;
        padding-top: 0;
    }


    .menu-icon {
        display: block; /* mostra o hamburger */
        width: 12px;
        height: 12px;
        border-right: 3px solid #76520e;
        border-bottom: 3px solid #76520e;
        transform: rotate(-135deg); /* seta para cima */
        transition: transform 0.3s ease;
        margin: 1rem auto 0; /* centraliza abaixo do logo */
    }


    /* Esconde a lista de links inicialmente */
    ul.nav-right {
        display: none;
        justify-content: space-between;
        width: 90%; /* opcional, para o menu ocupar toda a largura */
    }


    /* Mostra o menu quando checkbox é marcado */
    .menu-toggle:checked ~ ul.nav-right {
        display: flex;
        padding: 0%;
        margin: 0%;
        padding-right: 1.7rem;

    }

    /* Quando o menu estiver aberto (checkbox marcado), seta aponta para baixo */
    .menu-toggle:checked + .menu-icon {
        transform: rotate(45deg); /* seta para baixo */
    }
}